@import "./theme.scss";

@import "bulma/bulma.sass";

.title {
  font-weight: $weight-bold;
}

.is-highlighted-info {
  background: $info-light;
  padding: 0 0.25rem;
}

.title {
  line-height: normal;
}